## MACHINE LEARNING LAB - 01

## Write a Python program to Sort a few user given numbers

In [ ]:
numbers = input("Enter numbers separated by spaces: ")

numbers = [int(num) for num in numbers.split()]

numbers.sort()

numbers

Enter numbers separated by spaces: 32 34 45 64 12 91

[12, 32, 34, 45, 64, 91]

## Write a Python Program to print the following pattern.
	*
	**
	***
	****

In [ ]:
for i in range(1, 5):
    print('*' * i)

*
**
***
****

## Write a Python Program to Create a Student Database of 5 Students having Roll, Name, Semester. Display it.

In [ ]:
student_database = []

for _ in range(5):
    roll = input("Enter Roll Number: ")
    name = input("Enter Name: ")
    semester = input("Enter Semester: ")

    student_database.append((roll, name, semester))

print("\nStudent Database:")
for student in student_database:
    print(f"Roll: {student[0]}, Name: {student[1]}, Semester: {student[2]}")

Enter Roll Number: 2
Enter Name: Arindam Sahoo
Enter Semester: 6
Enter Roll Number: 4
Enter Name: Ranit Santra
Enter Semester: 6
Enter Roll Number: 9
Enter Name: Sourav Das
Enter Semester: 6
Enter Roll Number: 10
Enter Name: Arnab Ghorui
Enter Semester: 6
Enter Roll Number: 44
Enter Name: Aranya Jana
Enter Semester: 6

Student Database:
Roll: 2, Name: Arindam Sahoo, Semester: 6
Roll: 4, Name: Ranit Santra, Semester: 6
Roll: 9, Name: Sourav Das, Semester: 6
Roll: 10, Name: Arnab Ghorui, Semester: 6
Roll: 44, Name: Aranya Jana, Semester: 6